body {
    display: flex;
    background-color: gray;
    font-family: Helvetica;
    flex-direction: column;
    gap: 10px;
}

h1 {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    #reset-button {
        border-radius: 5px;
        background-color: red;
        color: white;
        padding: 5px 15px;
        border: none;
    }
}

.cell {
    display:flex;
    padding: 3px;
    border: 1px solid black;
    background-color: white;
}

#grid-container {
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-columns: repeat(var(--numCols), 1fr);
    grid-template-rows: repeat(var(--numRows), 1fr);
    width: 550px;
    height: 550px;
    border: black solid 8px;
}

:html {
    --numRows: 1;
    --numCols: 1;
}